* {
	margin: 0;
	padding: 0;
}
body{
	overflow: hidden;
}
.master-container{
	background-color: rgb(41, 196, 232);
}
#drawing {
	background-color: rgba(252, 252, 252, 1);
	display: block;
	border: 1px solid red;
}
.canvas-container{
	padding: 0px;
}
.side-bar{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(15, 129, 226, 0.87);
	padding: 22px 12px 12px 12px;
	margin: 1% 0 0 0;
	border-radius: 0 8px 8px 0;
}
#txtUsers{
	background-color: rgba(255, 255, 255, 1);
	font-family: 'Open Sans', sans-serif;
}
#txtArea{
	background-color: rgba(255, 255, 255, 1);
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
#txtMsg{
	background-color: rgba(255, 255, 255, 1);
	font-family: 'Open Sans', sans-serif;
}